Checks: >
  bugprone-*,
  performance-*,
  readability-*,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters